* {
    margin: 0;
    padding: 0;
}

body {
    font-family:sans-serif;
}

h1, h2, h3, h4, h5 {
    margin:0.25em 0 0.5em 0;
}

p {
    margin-bottom: 0.5em;
}

input,
button {
    padding:3px;
    border:1px solid #0045c2;
    outline:none;
}

button,
input[type="submit"] {
    padding:10px 30px;
    font-weight:bold;
    color:#fff;
    background-color: #0045c2;
}

button:hover,
input[type="submit"]:hover {
    background-color:#0dbd00;
}

input:focus,
button:focus {
    border:1px solid #0dbd00;
}

/* General classes */
.hidden {
    display: none;
}

.visible {
    display: block;
}

.center {
    text-align:center;
}

.motto {
    font-style:italic;
    font-size:0.8em;
}

.error {
    color:#f00;
}

/* Layout */
#wrap {
    width: 500px;
    margin: 0 auto;
    border:1px solid #0045c2;
}

#head {
    background-color:#0045c2;
    padding:10px;
}
    #head h1 {
        color:#fff;
    }

#content {
    padding:10px;
    border-top: 1px solid #0045c2;
}

#footer {
    padding:0.5em;
    background-color:#0045c2;
    color:#fff;
    text-align:center;
    font-size:0.75em;
}

/* Form */
#formcontainer {
    padding:10px;
}

.formrow {
    margin-top: 6px;
}

/*Receipt*/
#receipt {
    width:50%;
    margin:0 auto;
    border:1px solid #000;
    padding:10px;
}

.dottedline {
    clear:both;
    border-bottom: 1px dotted #000;
}

.receiptlabel {
    width:50%;
    float:left;
    margin:0;
}
.receiptvalue {
    width:50%;
    float:left;
    text-align:right;
    margin:0;
}